@font-face {
    font-family: 'Pacifico';
    src: url('../../assets/fonts/Pacifico.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../../assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../../assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../../assets/fonts/Raleway-Light.ttf') format('truetype');
}