@define-mixin visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

@define-mixin headingNormal {
    font-family: 'Raleway-Bold';
    text-transform: capitalize;
}

@define-mixin textNormal {
    font-family: 'Raleway-Light';
    font-size: 1.7rem;
    
    @mixin atSmall {
            line-height: 1.6em;
        }
}

@define-mixin boxShadow {
    box-shadow: 3px 5px 12px -4px rgba(0,0,0,0.75);
}

@define-mixin boxShadowInset {
    box-shadow: inset 0px -127px 143px -29px rgba(0,0,0,0.75);
}

@define-mixin atSmall {
    @media (min-width: 27.5em) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 47.5em) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 63.75em) {
        @mixin-content;
    }
}

@define-mixin atExtraLarge {
    @media (min-width: 81.25em) {
        @mixin-content;
    }
}
