.about {
    background-color: $mainCyan;
    
    &__img {
        max-width: 45em;
        margin: 0 auto;
        
        @mixin atMedium {
            max-width: none;
            
        }
        img {
            width: 100%;
        }
        
    }
    
    &__content {
        text-align: center;
        color: rgb(255, 255, 255);
            
        @mixin atMedium {
            text-align: left;
        }
        
        padding: 4em 0;
    }
    
    &__heading {
        @mixin headingNormal;
        
        font-size: 4rem;
        margin: 0;
    
        @mixin atSmall {
            font-size: 6rem;
        }
    
        @mixin atLarge {
            font-size: 8rem;
            margin-bottom: 0.1em;
        }
    }
    
    &__text {
        @mixin textNormal;
        max-width: 36em;
        
        margin: 0 auto;
        margin-bottom: 1em;
    }
    
}