.blog-article {
    position: relative;
    height: 310px;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    overflow: hidden;
    
    margin-bottom: 2.2em;
    
    @mixin boxShadow;
    
    
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        @mixin boxShadowInset;
    }
    
    &__link {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    &__link:hover, &__link:focus {
        
        .blog-article__heading {
            text-shadow: 1px 1px 1px $mainRed;
            transform: scale(1.02);
            
        }
        
        .blog-article__text {
            text-decoration: underline;
            color: $mainRed;
        }
        
    }
    
    &__img {
        
        position: absolute;
        top: 50%;
        left: 50%;
        
        width: auto;
        height: auto;
        
        max-height: none;
        max-width: none;
        
        min-height: 100%;
        min-width: 100%;
        
        transform: translate(-50%, -50%);
    }
    

    &__date {
        display: block;
        position: absolute;
        
        top: 1em;
        left: 1em;
        font-family: 'Raleway-Bold';
        font-size: 3.2rem;
        text-transform: uppercase;
        text-align: center;

        width: 1.9em;
        height: 1.9em;
        
        margin-top: 0;
        border-radius: 10%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    &__month {
        display: block;
        
        font-family: 'Raleway-ExtraBold';
        font-size: 2rem;
    }
    
    &__content {
        position: absolute;
        z-index: 50;
        bottom: 0;
        margin: 0 1.5em;
        
    }

    &__heading {
        @mixin headingNormal;
        font-size: 2rem;
        @mixin atSmall {
            font-size: 2.5rem;
        }
        @mixin atMedium {
            font-size: 2rem;
        }
        line-height: 1.4em;
         
    }

    &__text {
        @mixin textNormal;
        font-size: 1.3rem;
    }
}
