.btn {
    background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway-Light';
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: $mainOrange;
    padding: 0.7em 1.4em;
    cursor: pointer;
    @mixin boxShadow;
    
    &:hover,
    &:focus {
        background-color: $darkOrange;
    }
    
    &:active {
        position: relative;
        top: -1px;
        left: -1px;
    }
    
    &--narrow {
        font-size: 1.8rem;
        padding: 0.5em 2.7em;
    }
    
    &--center,
    &--center-xs,
    &--center-s {
        display: block;
        margin: 0 auto;
    }
    
    &--center-xs {
        width: 11em;
        @mixin atSmall {
            display: inline-block;
            width: auto;
        }
    }
    &--center-s {
        @mixin atMedium {
            display: inline-block;
            width: auto;
        }
    }
    
    &--blue {
        background-color: $mainBlue;
        
        &:hover,
        &:focus {
            background-color: $darkBlue;
        }
    }
    
    &--green {
        background-color: $mainGreen;
        
        &:hover,
        &:focus {
            background-color: $darkGreen;
        }
    }
    
    &--red {
        background-color: $mainRed;
        
        &:hover,
        &:focus {
            background-color: $darkRed;
        }
    }
    
    &--loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        
        &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 1.2em;
            height: 1.2em;
            border-radius: 50%;
            border: 4px solid rgba(255, 255, 255, 0.2);
            border-right-color: rgba(255,255, 255, 0.9);
            transform: translate(-50%, -50%) rotate(0deg);
            content:'';
            animation: btn--loading-animation 0.5s infinite linear;
            z-index: 100;
        }
        
    }
    
    
}
