.contact {
    background-image: url(../../assets/images/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    &__content {
        padding-bottom: 10em;
        
    }
    
    
    &__heading {
        @mixin headingNormal;
        color: $mainBlack;
        text-align: center;
        font-size: 4rem;
        
        margin: 0;
        padding-top: 1em;
        padding-bottom: 0.2em;
    
        @mixin atSmall {
            font-size: 6rem;
        }
    
        @mixin atLarge {
            font-size: 8rem;
            margin-bottom: 0.1em;
        }

    }
    
    &__text {
        display: block;
        
        @mixin textNormal;
        color: $mainBlack;
        text-align: center;
        
        max-width: 22em;
        margin: 0 auto;
        margin-bottom: 3em;
    }
    
}