.home {
    position: relative;
    background-image: url(../../assets/images/fresh-life.png);
	background-repeat: no-repeat;
    background-position: 55% 20%;
    
    @mixin atSmall {
        background-size: cover;
    }
  
    
    @mixin atMedium {
        background-position: 70% 20%;
    }
    
    &__content {
        height: 100vh;
        min-height: 45em;
    }
        
    &__heading {
        font-family: 'Raleway-ExtraBold';
        text-align: center;
        margin-bottom: 0;
        font-size: 4.2rem;
        color: $mainBlack;
        
        @mixin atSmall {
            text-align: left;
            font-size: 5rem;
            margin-bottom: 0.1em;
        }
        @mixin atLarge {
            font-size: 6rem;
        }
    }

    &__text {
        @mixin textNormal;
        color: $mainBlack;
        text-align: center;
        
        margin-bottom: 1.5em;
            
        @mixin atSmall {
            text-align: left;
            max-width: 18em;
        }
        @mixin atLarge {
            max-width: 23em;
        }
    }
    
    &__scroll {
        position: fixed;
        left: 50%;
        border: none;
        background: none;
        cursor: pointer;
        box-shadow: inset 0 0 0 0.2em $mainBlack;
        transition: box-shadow 0.5s ease-in-out;
        
        bottom: 1.5em;
        width: 2em;
        height: 3.2em;
        margin-left: -1em;
        border-radius: 2.5em;
    }
    &__scroll:before {
        position: absolute;
        left: 50%;
        content: "";
        background-color: $mainBlack;
        animation: 1.5s ease-in 0s infinite normal home__scroll-animation;
        
        top: 0.5em;
        width: 0.2em;
        height: 0.9em;
        margin-left: -0.1em;
        border-radius: 100%;
    }
    
    &__scroll:hover,
    &__scroll:focus {
        box-shadow: inset 0 4em 0.1em 0.2em $mainOrange;
        &:before {
            background-color: rgb(255, 255, 255);
        }  
    }
    
    &__scroll--stop {
        position: absolute;
        
    }
    
}
