.page-navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
    font-size: 1.6rem;
    text-transform: uppercase;
    pointer-events: none;
    
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0); 
    
    @mixin atLarge {
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
        width: auto;
        position: inherit;
    }
    
    &--is-expanded {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    &__heading {
        @mixin visuallyHidden;
    }
    
    &__container {
        margin: 0;
        padding-left: 0;
        
        padding-top: 4.8em;
        
        @mixin atMedium {
            padding-top: 8em;
        }
        
        @mixin atLarge {
            padding-top: 0;
        }
    }
    
    &__item {
        display: block;
        list-style: none;
        text-align: center;
        font-size: 1.6rem;
        
        margin-bottom: 1.5em;
        @mixin atMedium {
            margin-bottom: 2.2em;
            font-size: 1.7rem;
        }
        @mixin atLarge {
            margin-bottom: 0;
            font-size: 1.6rem;
        }
        
        @mixin atExtraLarge {
            font-size: 1.8rem;
        }
        
        a {
            padding-top: 0.25em;
            font-family: 'Raleway-Bold';
            text-decoration: none;
            color: $mainBlack;
            outline-color: $mainOrange;
            
        }
        a:hover, a:focus {
            border-top: 3px solid $mainOrange;
        }
    }
    
}

.active-link {
    border-top: 3px solid $mainOrange;
}