.services {
    background-color: rgb(112, 191, 255);
    
    &__content {
        padding: 5em 0;
         
    }
    
    &__header {
        background-image: url(../../assets/images/our-services.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 50% 25%;
        color: rgb(255, 255, 255);
        
        height: 31em;
        @mixin atSmall {
            height: 43em;
            background-size: 55%;
        }
        @mixin atMedium {
            height: 55em;
            background-size: 70%;
        }
        
    }
    
    &__heading {
        @mixin headingNormal;

        font-size: 4.8rem;
        text-align: center;

        @mixin atSmall {
            font-size: 6rem;
        }

        @mixin atMedium {
            font-size: 5rem;
        }

        @mixin atLarge {
            font-size: 6.5rem;
            text-align: left;
        }

        @mixin atExtraLarge {
            font-size: 8rem;
        }

        margin-top: 0;
        padding-top: 2.4em;

        @mixin atSmall {
             padding-top: 2.8em;
        }

        @mixin atMedium {    
            padding-top: 3.4em;
        }

        @mixin atLarge {
             padding-top: 2.8em;
        }

        @mixin atExtraLarge {
             padding-top: 2.4em;
        }
    }
    
}