.subscribe {
    background-image: url(../../assets/images/subscribe-2.png);
    background-repeat: no-repeat;
    background-position: 50% 110%;
    
    @mixin atMedium {
        background-image: url(../../assets/images/subscribe.png);
        background-position: 50%;
    }
    
    &__content {
        padding: 10em 0;
        height: 62em;
        
        @mixin atMedium {
            max-height: 50em;
        }
    }
    
    &__heading {
        @mixin headingNormal;
        
        font-size: 3.5rem;
        text-align: center;
        
        @mixin atMedium {
            font-size: 4rem;
            text-align: left;
        }
        
        margin: 0;
        margin-bottom: 0.1em;
    
    }
    
    &__text {
        @mixin textNormal;
        
        text-align: center;
        max-width: 35em;
        
        @mixin atMedium {
            text-align: left;
        }
    }
    
}