@font-face
{
    font-family: 'TitilliumText22L-Light';

    src: url('../fonts/TitilliumText22L002.woff') format('woff');
}
@font-face
{
    font-family: 'TitilliumText22L-Medium';

    src: url('../fonts/TitilliumText22L004.woff') format('woff');
}
*
{
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    background: url('../img/Background.png') no-repeat center;
    background-size: cover;
}
.page-logo
{
    display: block;

    width: 95%;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 1em;

    opacity: .4;
}
.page-logo:hover
{
    opacity: 1;
}
.form h2
{
    font-family: 'TitilliumText22L-Medium', Helvatica, sans-serif;
    font-size: 3.2rem;

    margin: 1em;

    text-align: center;

    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(1, 1, 1);
}
.form-content
{
    font-family: 'TitilliumText22L-Light', Helvatica, sans-serif;
    font-size: 1.6rem;

    color: rgb(175, 175, 175);
    border: 1px solid rgb(244, 244, 244);
    border-radius: 1%;
    background-color: rgb(244, 244, 244);
}
.form-shadow
{
    padding: 1.5em;

    border-radius: 1%;
    background-color: rgba(0, 0, 0, .4);
}
.form-content > *
{
    width: 90%;
    margin: 1em auto;
}
.form-content > * > *
{
    outline-color: rgb(59, 154, 0);
}
.input-group
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 2.4em;
    margin-bottom: 1em;
    padding: .5em;

    border: 1px solid rgb(198, 198, 198);
    border-radius: 3%;
}
.input-group select
{
    cursor: pointer;
}
.form-input
{
    font-family: 'TitilliumText22L-Light', Helvatica, sans-serif;
    font-size: 1.6rem;

    width: 100%;
    padding-left: 1em;

    color: rgb(175, 175, 175);
    border: none;
    border-left: 1px solid rgb(228, 228, 228);
    background: none;
}
.form-input::-webkit-input-placeholder
{
    font-family: 'TitilliumText22L-Light', Helvatica, sans-serif;

    color: rgb(175, 175, 175);
}
.form-input::-moz-placeholder
{
    /* Firefox 19+ */
    font-family: 'TitilliumText22L-Light', Helvatica, sans-serif;

    color: rgb(175, 175, 175);
}
.form-input:-ms-input-placeholder
{
    /* IE 10+ */
    font-family: 'TitilliumText22L-Light', Helvatica, sans-serif;

    color: rgb(175, 175, 175);
}
.form-input:-moz-placeholder
{
    /* Firefox 18- */
    font-family: 'TitilliumText22L-Light', Helvatica, sans-serif;

    color: rgb(175, 175, 175);
}
.form-button
{
    font-family: 'TitilliumText22L-Medium', Helvatica, sans-serif;
    font-size: 1.8rem;

    display: block;

    width: 100%;
    height: 2.3em;

    cursor: pointer;

    color: rgb(255, 255, 255);
    border: none;
    border: 1px solid rgb(59, 154, 0);
    border-radius: 4%;
    background: none;
    background: -webkit-linear-gradient(top, rgb(170,209,52) 0%, rgb(104,158,11) 100%);
    background:         linear-gradient(to bottom, rgb(170,209,52) 0%, rgb(104,158,11) 100%);
    background-color: rgb(170,209,52);
    text-shadow: 1px 1px 1px rgb(1, 1, 1);
}
.form-button:disabled
{
    border: 1px solid rgba(59, 154, 0, .4);
    background: none;
    background-color: rgba(170,209,52, .6);
}
.button-denial
{
    border: 1px solid rgb(162, 32, 42);
    background: rgb(207,56,29);
    background: -webkit-linear-gradient(top, rgb(207,56,29) 0%, rgb(173,10,29) 100%);
    background:         linear-gradient(to bottom, rgb(207,56,29) 0%, rgb(173,10,29) 100%);
}
.flex-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 1em;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-container > *
{
    width: 8em;
}
.form-message
{
    font-family: 'TitilliumText22L-Light', Helvatica, sans-serif;
    font-size: 1.6rem;

    width: 100%;
    margin-bottom: .5em;
    padding: .5em;

    resize: none;

    color: rgb(175, 175, 175);
    border: none;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 2%;
    background: none;
}
.form-checkbox
{
    display: block;

    width: 100%;
    height: 2.3em;
    margin-bottom: .5em;

    cursor: pointer;
}
.form-checkbox input[type=checkbox]
{
    display: none;
}
.form-checkbox input[type=checkbox] + .checkbox-text:before
{
    display: inline-block;

    width: .9em;
    height: .9em;
    margin-right: 1em;
    padding: .2em;

    content: url(../img/checkbox.png);
    vertical-align: middle;

    border: 1px solid rgb(198, 198, 198);
    border-radius: 3px;
}
.form-checkbox input[type=checkbox]:checked + .checkbox-text:before
{
    content: '';
}
.icon
{
    position: relative;

    padding-right: .8em;
    padding-left: .3em;

    -ms-flex-item-align: center;
    align-self: center;
}
.flex-container .form-checkbox
{
    margin-bottom: 0;
}
.hidden
{
    display: none;
}
@media all and (min-width: 421px)
{
    .page-logo
    {
        width: 42em;
    }
    .form
    {
        width: 42em;
        margin: 0 auto;
    }
}
@media all and (min-width: 841px)
{
    .main-content
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        margin-bottom: 5em;

        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}
